textarea{
	width: 600px;	
	height: 200px;
	margin-top: 20px;
}

div#form-row{
	display: block;
	position: relative;
	overflow: hidden;
}

div#form-row #box{
	vertical-align: middle;
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	width: 150px;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
}

#hexdump span{
	text-decoration: none;
	font: normal normal normal 0.955em "Courier New", Courier, mono;
}

#hexdump span.ui-selecting {
  background: #fcfde0;
  color: #111;
  text-shadow: #fff 0 1px 0;
}

#hexdump span.ui-selected {
	background: #4eabf7;
	color: #fff;
	text-shadow: #000 0 1px 0;
}

#hexdump span[data-null=true]{
}

.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }