<form action="#">
  
  <div id='form-row'>
    <div id='box'>
      <select name='width' id="form-base">
        <option selected>hexadecimal</option>
        <option>decimal</option>
        <option>binary</option>
      </select>
      Base Type
    </div>
    
    <div id='box'>
      <select name='width' id="form-width">
        <option>10</option>
        <option selected>16</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
      </select>
      Width
    </div>
    
    <div id="box">
      <select name='width' id="form-spacing">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      Byte Group
    </div>
    
    <div id='box'>
      <input type="checkbox" name="linenumbers" id="linenumbers" checked='true' />
      Line Numbers
    </div>
    
    <div id='box'>
      <input type="checkbox" name="html" id="html" checked='true' />
      HTML / Selecting Effects
    </div>
    
  </div>
</form>

<pre id="hexdump"></pre>

<textarea type='text' id="payload" cols="30" rows="10"></textarea>